.userList__items {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-direction: column;

  padding: 2vh 0;
}

.openModal {
  font-size: 25px;

  border: none;
  background-color: rgba(247, 247, 247, 0.973);

  padding: 10px;
}

.openModal:hover {
  cursor: pointer;
}
