.form {


    display: flex;
    flex-direction: column;

  
}

.input {
    
    font-size: inherit;
  min-width: 20vw;
  padding: 1vh 1vw;
  margin: 2vh 0;
}
.submitBtn{
    font-size: inherit;
    border: none;
    padding: 1vh 1vw;
    margin-top: 2vh;
    
}

.submitBtn span{
}
